<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
        {% block title %}
        ATW
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/materialize.min.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/style.css' %}" media="screen, projection">

    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->

  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="transparente">
          <div class="nav-wrapper" id="menu">
            <a href="/" class="brand-logo left">
              <ul class="right hide-on-small-and-down margin-2">
                <!--Replace to link pages-->
                <li><a href="/">Anon Token Web Transactions</a></li>
                <li><a href="/infr.php">Income</a></li>
              </ul>
            </a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      {% block content %}
      This is default content!
      {% endblock %}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'site/js/clock.js' %}"></script>
  </body>
</html>
