{% extends parent_template|default:'base.html' %}
{% load staticfiles %}
{% load qr_code %}

{% block title %}Ticket Status{% endblock %}

{% block content %}

<div id="container" style="margin-top:2rem;">
  <div class="section">
    <div class="row center-align">
    {% if ticket %}
      {% if ticket.status == 1 %}
      <div class="col s12 m6 offset-m1 l4 offset-l2">
        <h5>Deposit Address: </h5>
        <p>{{ ticket.address_rec|default:'No Address. Something went wrong.' }}</p>
        <h5>Minimum Deposit Amount: </h5>
        <p>{{ proyectos.ticket_price|default:'10' }} XVG</p>
        <h5>Wallet if be the winner: </h5>
        <p>{{ ticket.wallet|default:'No Address. Something went wrong.' }}</p>
        <h5></h5>
      </div>
      <div class="col s12 m4 l5">
        {% qr_from_text ticket.qr_uri size=12 %}
      </div>
      {% elif ticket.status == 2 %}
      <div class="col s12 m4 l5">
        <h5>The ticket is ready to participate in the lottery.</h5>
      </div>
      {% else %}
      <div class="col s12 m4 l5">
        <h5>The ticket was canceled for not paying the payment on time.</h5>
      </div>
      {% endif %}
    {% else %}
      <div class="col s12 m6 offset-m1 l4 offset-l2">
      <p>No data found.</p>
      </div>
    {% endif %}
    </div>

    <div class="row center-align">
      <div class="col s12 m10 offset-m1 l6 offset-l1">
        {% if ticket %}
        <div class="md-stepper-horizontal">
          <div class="md-step active done">
            <div class="md-step-circle"><span>1</span></div>
            <div class="md-step-title">Wallet Generated</div>
            <div class="md-step-optional">Please proceed to pay.</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step {% if ticket.status >= 1 %}active{% else %}cancel{% endif %} {% if ticket.status > 1 %}done{% endif %}">
            <div class="md-step-circle"><span>2</span></div>
            <div class="md-step-title">Waiting for payment</div>
            <div class="md-step-optional">Pay directly using the address above or the QR code.</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>

          {% if ticket.status == 2 %}
          <div class="md-step active done">
            <div class="md-step-circle"><span>3</span></div>
            <div class="md-step-title">Payment Successful</div>
            <div class="md-step-optional">Ready to play!</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          {% elif ticket.status == 0 %}
          <div class="md-step cancel">
            <div class="md-step-circle"><span>3</span></div>
            <div class="md-step-title">Payment Canceled</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          {% else %}
          <div class="md-step active">
            <div class="md-step-circle"><span>3</span></div>
            <div class="md-step-title">Payment Successful</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          {% endif %}
        </div>
        {% else %}
        <div>
          <p>No data found.</p>
        </div>
        {% endif %}
      </div>
      <style>
/* Timer **/

#clockdiv {
  font-family: sans-serif;
  color: #FFFFFF;
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  align-self: center;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #08a3c7; /* #3f72a3; */
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #FFFFFF;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

#clockdiv span {
   color: #1a1a1a;
}

#clockdiv p {
   color: #1a1a1a;
   padding: 0;
}

      </style>
      <script>var countDownDate = Date.UTC({{ ticket.limitToPay|date:"Y,(m-1),d,h,i,s" }});</script>
      <script src="/media/fs.js"></script>
      <div class="col s12 l3">
        <div id="clockdiv">
            <!-- 2018,4,28,14,25,25  -->
            <p>Time to finish payment:</p>
            <div style="display: none;">
              <span id="days">?</span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span id="hours">?</span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span id="minutes">?</span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span id="seconds">?</span>
              <div class="smalltext">Seconds</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
